<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> SendIT |  Create Parcel Delivery Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/createOrder.css" />
    <link href="https://fonts.googleapis.com/css?family=Montaga" rel="stylesheet"> 
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>
<body>
    
<main>
<form id="create-parcel" method="post">
 <small> <a href = "AllOrders.html"> <span> Back &#8594;</span> </a></small>
 <div class = "form-container">
    <h1> CREATE PARCEL ORDER </h1>

<br>
<label>Name Of Item:</label>
<br>
 <input type="text" name ="Item-name" id="Item-name" placeholder="Enter the Name of the Item" required autocomplete="off"><br>
<small class="invalid-feedback"> Name must Be at least 3 characters </small><br>


<label>Pick Up Location:</label>
<br>
  <input type="text"  name="Pickup_location[address]" id="pickUpAddress" placeholder="Enter Pick Up Location" required autocomplete="off">
<small class="invalid-feedback"> Invalid Input </small>
    
    
    
<br><label for="Pickup_lng">PickUp Longitude</label>
<input type="text" id="Pickup_lng" name="Pickup_location[coordinates][0]" required="required" disabled>

<br><label for="Pickup_lat">PickUp Latitude</label>
<input type="text" id="Pickup_lat"  name="Pickup_location[coordinates][1]" required="required" disabled><br>
    


<br>
<label>Destination:</label>
<br>
 <input type="text" name ="dest-location[address]" id="DestinationAdress" placeholder="Enter Destination Location" required autocomplete="off"><br>
<small class="invalid-feedback"> Invalid Input </small>

 
<br><label for="destination_lng">Destination Longitude</label>
<input type="text" id="destination_lng" name="Destination_location[coordinates][0]" required="required" disabled>

<br><label for="destination_lat">Destination Latitude</label>
<input type="text" id="destination_lat"  name="Destination_location[coordinates][1]" required="required" disabled>
  

 <br><a href="AllOrders.html" class="sub-btn"><span>Submit &#8594;</span></a>


 </div>

</form>
    
</main>
 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9ycobB5RiavbXpJBo0Muz2komaqqvGv0&libraries=places"></script>
 <script src="../js/createOrder.js"></script>
</body>