.wrapper{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    background: lightgoldenrodyellow;
    padding: 15px 0;
    box-shadow: 0 10px 6px -6px 
}

header h1{
    margin: 0;

    width: 140px;
    float: left;
}

header nav{
    float: right;
}

header nav h2{
    line-height: 0;
    margin: 0;
    text-indent: -10000px;
}

header nav ul{
    margin: 0;
    padding: 0;
}

header nav li{
    list-style-type: none;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

header nav a{
    text-decoration: none;
    color: #4e4e4e;
    text-transform: uppercase;
    font-weight: bold;
}

header nav a:hover{
   
    color: lightcoral;
    
}

header:after{
    display: block;
    content: "";
    clear: both;
}
    @media screen and (max-width: 768px){

header nav{
    float: none;
}

header nav li{
    margin-left: 0;
    width: 16.66%;
    text-align: center;
    font-size: 14px;
}

header h1.logo{
    float: none;
    margin: 0 auto 15px;
}



}


@media screen and (max-width: 480px){

header nav li{
    float: none;
    width: 100%;
    margin: 0;
}

header nav{
    background: #555;
}

header .wrapper{
    padding: 0;
    width: 100%;

}

header{
    padding-bottom: 0;
}

header nav li a{
    display: block;
    text-align: center;
    padding: 10px;
    color: #999;
    border-top: 1px solid #4f4f4f
}


header nav ul{
    height: 0;
    overflow: hidden;
}

header nav ul.open{
    height: auto;
}

}





/* MEDIA QUERIES */


@media screen and (max-width: 768px){

header nav{
    float: none;
}

header nav li{
    margin-left: 0;
    width: 16.66%;
    text-align: center;
    font-size: 14px;
}

header h1.logo{
    float: none;
    margin: 0 auto 15px;
}



}

@media screen and (max-width: 480px){



footer ul{
    width: 100%;
    float: none;
    border-top: 2px solid #333;
}

header nav li{
    float: none;
    width: 100%;
    margin: 0;
}

header nav{
    background: #555;
}

header .wrapper{
    padding: 0;
    width: 100%;

}

header{
    padding-bottom: 0;
}

header nav li a{
    display: block;
    text-align: center;
    padding: 10px;
    color: #999;
    border-top: 1px solid #4f4f4f
}


header nav ul{
    height: 0;
    overflow: hidden;
}

header nav ul.open{
    height: auto;
}

}

